.navbar {
    margin-bottom: 0;
  
    background-color: #FFFFFF;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
  }

  .navbar li a, .navbar .navbar-brand {
    color: #364A9A !important;
  }

  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #fff !important;
    background-color: #364A9A !important;
  }

  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #364A9A !important;
  }

  .title-top {
    background-color: #FFFFFF;
    color: #ffffff;
    padding: 100px 25px;
    }

.sc-gradient {
        font-weight: bold; 
        background: linear-gradient(to bottom right, #0D2BCB, #87CEEB);
        line-height: 150%;
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 45px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
    
    
    .sc-gradient2 {
        font-color: black;
        font-family: poppins;
        line-height: 150%;
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 25px;
        -webkit-background-clip: text;
    }

    .botnav {
        overflow: hidden;
        background-color: #fff;
        text-align: center;

}

.botnav a {
        position: center;
        color: #364A9A;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
}

.botnav a:hover {
            background-color: #364A9A;
            color: #fff;
}

.botnav a.active {
            background-color: #4CAF50;
            color: white;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }

  .item span {
    font-style: normal;
  }